mapcycle_*.txt
pure_server_*.txt
server_*.txt
server_*.cfg
chapter?.cfg
user.scr
undo360controller.cfg
360controller*.cfg
config.cfg
config_default.cfg
motd_*.txt
mtp.cfg
replay*.cfg
trusted*.txt
sourcevr*.cfg
sixense_bindings.cfg
sfm_*.txt
